h1 {
    background-color: aqua;
    width: 300px;
    font-family: 'Courier New', Courier, monospace;
}

#aaa {
    background-color: red;
}

h2 {
    background-color: #CBC3E3;
}

#aab {

    color: white;
    background-color: black;

}