body {
  background-color: #92eff3;
  min-height: 100vh;
}
pre {
  font-size: 2em;
  background-color: #0c0c0c;
  color: white;
  padding: 10px;
  width: 1000px;
  margin: auto;
}
pre::before {
  content: "PowerShell 7.4.2";
}
p::before {
  content: "PS C:\\Users\\bielz> ";
}
